<div class="counter" *ngFor="let counter of counters">
  <div class="counter counter--left">
    <div (click)="increment(counter)" class="triangle triangle--up"></div>
    <div class="count">{{ counter.count }}</div>
    <div (click)="decrement(counter)" class="triangle triangle--down"></div>
    <button (click)="delete(counter._id)" type="button" class="btn btn-danger">
      delete
    </button>
  </div>
  <div class="counter counter--right">
    <h3 class="counter__text">title</h3>
    <p class="counter__title">{{ counter.title }}</p>
    <h3 class="counter__text">description</h3>
    <p class="counter__desc">{{ counter.description }}</p>
  </div>
</div>
